<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>UpTest</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<div id="app-hook"></div>
<script type="text/javascript" src="{{ asset('js/jquery-3.0.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/upapp.js') }}"></script>
</body>
</html>
